<h3>Add a New Course</h3>
<form action="/course/added" method="post">
  <label for="newNumber">Label the New Course with a number Code</label>
  <input id="newNumber" name="newNumber">
  <label for="newName">Enter the Course Name</label>
  <input id="newName" name="newName">
  <button type="submit">Create Course</button>
</form>
